<div class="flex flex-col gap-12 pb-32">
  <nav
    class="p-4 h-12 border-b-2 border-white flex justify-between items-center"
  >
    <div>
      <h1 class="font-sans text-xl">E-Commerce</h1>
    </div>
    <div class="flex w-1/4 justify-between text-yellow-300">
      <a href="#list" class="hover:text-blue-400 hover:underline"
        >Article list</a
      >
      <a href="#grid" class="hover:text-blue-400 hover:underline"
        >Article layout</a
      >
    </div>
    <div>
      <p>
        Made with ❤️ by
        <a class="text-purple-300" href="https://www.jramma.com/">jramma</a>
      </p>
    </div>
  </nav>
  <div class="p-6">
    <h1 class="text-2xl underline">Resumen</h1><br>
    <p class="text-lg lg:w-1/2 w-full">
      Primero hice <span class="text-blue-500">Artilce_layout</span> y sin querer hice cosas que se pedían en el
      ejercicio siguiente. Así que cree <span class="text-green-500">article-item</span> que corresponde a el primer
      ejercicio práctico. y <span class="text-red-500">/article-item2</span> corresponde al segundo ejercicio.
      <br><br>
      El layout de los tres articulos con la lógica de hijo a padre es <span class="text-purple-500">/article-list</span> que se comunica con <span class="text-yellow-500">article-item2</span>.
    </p>
  </div>
  <div id="list">
    <app-article-list></app-article-list>
  </div>
  <section id="grid" class="flex flex-col gap-6">
    <h2 class="text-3xl">Article_layout</h2>
    <div class="flex flex-col gap-12">
      <ul
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3"
      >
        <li *ngFor="let article of articles">
          <app-article-item [article]="article"></app-article-item>
        </li>
      </ul>
    </div>
  </section>
</div>
<footer class="flex justify-center p-6">
  <p>
    Made with ❤️ by
    <a class="text-purple-300" href="https://www.jramma.com/">jramma</a>
  </p>
</footer>
